---
// @ts-nocheck
import { getPage } from '@/modules/prismic.js';
import * as prismicH from '@prismicio/helpers';

//components
import BaseLayout from '@/layouts/BaseLayout.astro';
import NossaEquipe from '@/components/NossaEquipe.vue';

const data = await getPage('sobre');
---

<BaseLayout title="Sobre">

	<main class="mt-20 md:mt-10">

		<section class="flex items-center justify-start gap-10 max-w-[1280px] mx-auto mb-20 px-6">

			<img src={data.main_image.url} alt="group image"/>

			<div>
				<h1 class="alpha mb-8">{ data.title1 }</h1>

				<div class="editorial text-md" set:html={prismicH.asHTML(data.description)}></div>
			</div>

		</section>

		<NossaEquipe client:load data={data.body[0]}></NossaEquipe>

		<NossaEquipe client:load data={data.body[1]} show-bg={true}></NossaEquipe>

	</main>

</BaseLayout>
